<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="TestSuite" verbose="1" >
<listeners>
    <listener class-name="ScreenshotListener" />
  </listeners>
  <test name="LoginPageTest" >
    <classes>
       <class name="com.crm.qa.testcases.loginPageTest" />
    </classes>
  </test>
 
  <test name="SignUpPageTest">
    <classes>
      <class name="com.crm.qa.testcases.SignUpPageTest"/>
    </classes>
  </test>
</suite>
